.mask {
  position: fixed;
  background-color: #f9f9f930;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  backdrop-filter: blur(2px);
  z-index: 2
}

.basket {
  position: fixed;
  right: 0;
  top: 0;
  background: white;
  width: 300px;
  height: 100vh;
  padding: 12px;
  box-shadow: -4px -4px 4px rgba(0, 0, 0, 0.418);
  z-index: 2;

  &__close {
    position: absolute;
    top: 34px;
    right: 24px;
    font-size: 20px;
    cursor: pointer;

    &:hover {
      color: #0083E6;
    }
  }

  h2 {
    margin-bottom: 40px;
  }

  h3 {
    margin-top: 40px;
  }
}